<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_topic_path(topic, vote: true), method: 'post', remote: true do %>
        <i class="icon-arrow-up"></i>
      <% end %> <br>
    <% end %>
    <span id="topic_<%= topic.id %>_vote"><%= pluralize(topic.total_votes,'vote') %></span><br>
    <% if logged_in? %>
      <%= link_to vote_topic_path(topic, vote: false), method: 'post', remote: true do %>
        <i class="icon-arrow-down"></i>
      <% end %>
    <% end %>
  </div>
  <div class="well span8">
    <%= render topic.categories %>
    <h4><%= link_to topic.title, topic %></h4>
    <p><%= topic.content %></p> 
    <p>
      <span class="quiet">created by</span> 
      <%= link_to topic.user.username, user_path(topic.user) %> 
      <small>at <%= topic.created_at %></small>
    </p>
    <small><span><%= link_to pluralize(topic.comments.size, "comment"), topic_path(topic) %></span></small>
  </div>
</div>
